.tabs {
 margin-bottom: -1px !important;
 position: relative;
 border-bottom: 1px rgba(10, 10, 10, .2) solid
 
}

.tab-content {
 padding: 20px 0;
 background-color: white;
 /* box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1) */
}

form {
 padding: 5px
}

.tab-pane {
 display: none;
}

.tab-pane.is-active {
 display: block;
}

.is-active {
 display: initial;
}

.tabs.is-boxed.is-centered li.is-active a {
 background-color: #209cee!important;
 border: none
}

.cent {
 display: block;
 margin: 10px auto;
 padding: 5px;
 border: 1px solid #ccc
}

.video {
 display: block;
 margin: 0 auto;
}

/* CSS from http://embedresponsively.com */
.embed-container {
 position: relative;
 padding-bottom: 56.25%;
 height: 0;
 overflow: hidden;
 max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}
